<div id="planos-aliementares">
  <div class="card-stnd">
    <div class="card">
      <div class="color card-top flex align-items-center justfy-content-center">
        <h4>Planos <br> Alimentares </h4>
      </div>
      <div class=""></div>
      <div class="card-body">

      </div>
      <div class="card-footer flex flex-end">
        <button type="submit" class="btn btn-primary mr-2">Salvar</button>
        <button class="btn btn-outline-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>